*{
	margin: 0px;
	padding: 0px;
}
.size_nav{
	width:100%;
	height: 40px;
	background: #333333;
}
.size_nav_center{
	margin: 0px auto;
	width: 1226px;
	height: 100%;
	background: #333333;
}
.size_nav_ul{
	padding: 10px 0px;
	list-style: none;
	display: flex;
	float: left;
	
}
.size_nav_ul li{
	line-height: 0.5em;
	font-size: 13px;
	margin: 5px;
	color:#757575 ;
}
.size_nav_center span{
	color: #424242;
	line-height: 0.5em;
	margin: 5px;
}
.size_nav_login{
	margin-left: 75%;
	height: 100%;
}
.size_nav_login::after{
	clear: both;
}
.size_nav_login_ul_01{
	float: left;
	list-style: none;
	display: flex;
	padding: 10px;
	color:#757575 ;
}
.size_nav_login_ul_01::after{
	padding: none;
}
.size_nav_login_ul_01 li{
	line-height: 0.5em;
	padding-top: 5px;
	font-size: 13px;
}
.size_nav_login_ul_01 span{
	color: #424242;
	line-height: 0.5em;
	margin: 5px;
}
.size_nav_login_ul_02{
	list-style: none;
	display: flex;
	padding-left: 30px;
	width: 120px;
	height: 40px;
	color:#757575 ;
}
.size_nav_login_ul_02 li{
	font-size: 13px;
	padding: 10px 0px;
}
.size_head{
	margin: 20px auto;
	width: 1226px;
}
.size_head_container{
	height: 60px;
}
.size_head_container_div{
	float: left;
	height: 60px;
}
.size_head_container_div a{
	height: 60px;
	display:inline-block;
}
.size_head_container_first{
	float: left;
	height: 60px;
}
.size_head_container_sign{
	width: 55px;
	height: 60px;
	padding-right: 10px;
	display: inline-block;
}
.size_head_container_11{
	width: 165px;
	height: 60px;
	display: inline-block;
}
.size_head_container_classification_ul{
	display: flex;
	list-style: none;
	line-height: 80px;
	height: 60px;
}
.size_head_container_classification_ul li{
	padding: 0px 10px;
	color: #333;
}
.size_head_container_classification{
	height: 60px;
	display: inline-block;
	width: 630px;
}
.size_head_container_search{
	float: right;
	height: 60px;
	position: relative;
}
.size_head_container_search_input{
	float: left;
	width: 245px;
	height: 53px;
	border:1px solid #e0e0e0;
	padding: 0px 10px;
}
.size_head_container_search_search{
	width: 52px;
	height: 55px;
	float: right;
	background: #fff;
	border:1px solid #e0e0e0;
	
}
.size_head_container_search_prompt{
	width: 150px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 130px;
    
}
.size_head_container_search_prompt a{
	text-decoration: none;
	color: #757575;
	font-size: 12px;
	background: #EEEEEE;
}
.xiaomi:hover{
	cursor: pointer;
	background: #ff6700;
	color: #FFFFFF;
}
.size_head_container_xiaomimax{
	width: 74px;
	height: 17px;
}
.size_center{
	margin: 0 auto;
	width: 1226px;
	overflow: hidden;
}
.size_center_head{
	background: #58160D;
	overflow: hidden;
	position: relative;
}
.size_center_head_ul{
	height: 420px;
	width: 234px;
	border: 0px;
	padding: 20px 0px;
	display: inline-block;
	float: left;

}
.size_center_head_ul a{
	text-decoration: none;	
	color: #fff;
}
.size_center_head_ul_li01{
	height: 42px;
	font-size: 14px;
	padding-left: 30px;
	line-height: 40px;    
}
.nav_phone {
	float: left;
}
.size_center_head_ul i{
	float: right;
	padding-right: 20px;
}
.default_img{
	float: right;
	 height: 460px;
	 width: 992px;
}
.size_center_neck{
	margin-top: 14px;
}
.size_center_neck_left{
	width: 234px;
	font-size: 0px;
	background: #5F5750;
	height: 170px;
	display: inline-block;
}
.size_center_neck_left a{
	text-decoration: none;
	width: 70px;
	height: 82px;
	padding-top:18px ;
	display: inline-block;
	border: 1px solid #665E57;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0px 3px;
	text-align: center;
	line-height: 30px;
}
.size_center_neck_left i{
	display: block;
	font-size:26px;
	padding: 5px 0px;
}
.size_center_neck_right{
	float: right;
	display: inline-block;
}
.size_center_neck_right img{
	display: inline-block;
	width: 316px;
	height: 170px;
	padding: 0px 3px;
}
.size_center_body{
	margin: 40px 0px;
}
.size_center_body_top h2{
	font-size: 22px;
	color: #333;
	font-weight:200;
	display: inline-block;
}
.size_center_body_top_ul01{
	display: flex;
	list-style: none;
	padding-top: 15px;
}
.size_center_body_top_corner{
	display: inline-block;
	float: right;
	font-size: 0px;
	margin-right: 10px;
	color: #e0e0e0;
}
.size_center_body_top_corner i{
	border: 1px solid;
	width: 33px;
	height: 23px;
	display: inline-block;
	text-align: center;
}
.size_center_body_top_ul01_li01{
	background: #F1EDED;
	text-align: center;
	line-height: 50px;
	border-top: 1px #e53935 solid;
	width: 234px;
	height: 338px;
	display: inline-block;
}
.size_center_body_top_time{
	padding:35px 0px 25px 0px;
	font-size: 21px;
	color: #ef3a3b;
}
.size_center_body_top_time_01{
	font-size: 15px;
	color: #706F6F;
}
.size_center_body_top_ul01_li01 span{
	width: 46px;
	height: 46px;
	display: inline-block;
	background: #605751;
	margin-top: 15px;
}
/*.size_center_body_top_ul01:last-child{
	margin-right: 0px;
}*/
.size_center_body_top_ul01_a{
	background: #FAFAFA;
	margin-left: 10px;
	width: 234px;
	height: 339px;
	border-top:1px solid #e53935;
}
.size_center_body_top_ul01_a img{
	width: 170px;
    height: 130px;
	
}
.size_center_body_top_ul01_a li{
	margin: 55px auto 22px;
	width: 160px;
}
.size_center_body_top_ul01_a h3{
	font-size: 14px;
	font-weight: 400;
	margin: 20px 0px 3px 37px;
	color: #212121;
}
.desc{
	font-size:12px ;
	color: #b0b0b0;
	height: 18px;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space:nowrap;
}
.price{
	text-align: center;
	color: #ff6709;
	margin-top: 15px;
}
.size_center_footer img{
	width: 1226px;
	height: 120px;
}
.size_body{
	margin: 40px auto;
	background: #F5F5F5;
	width: 1226px;
}
.size_body_first{
	margin: 0 auto;
	width: 1226px;
	background: #F5F5F5;
	padding-top: 22px;
	
}
.size_body_first h3{
	font-size: 22px;
	color: #333;
	font-weight: 200;
	padding:10px 0px;
	display: inline-block;
}
.view{
	display: inline-block;
	color: #424242;
	font-size: 16px;
	line-height: 58px;
	float: right;
}
.size_body_left{
	float: left;
}
.size_body_left img{
	width: 234px;
	height: 614px;
}
.size_body_right{
	width: 978px;
	height: 624px;
}
.size_body_right_top{
	display: flex;
	list-style: none;
	margin-left: 10px;
}
.size_body_right img{
	padding-left:40px;
	width: 160px;
	height: 160px;
}
.size_body_right li{
	width: 234px;
	height: 260px;
	margin-left: 14px;
	margin-bottom: 14px;
	background: #FFFFFF;
	padding: 20px 10px;
}
.size_body_right_bottom{
	display: flex;
	margin-left: 10px;
	list-style: none;
}
.size_body_right h3{
	font-size:14px ;
	font-weight:400 ;
	text-align: center;
	color: #333;
	margin: 0 10px 2px 30px;
}
.size_body_right a{
	text-decoration: none;
}
.Attributes{
	font-size: 12px;
	color: #b0b0b0;
	text-align:center;
	height:18px;
	width: 214px;
	text-overflow: ellipsis;
	overflow: hidden;	
	white-space: nowrap;
}
.num{
	font-size: 14px;
	color: #ff6700;
	text-align:center;
	margin: 10px 10px 0px 10px;
}
.shuang{
	width: 1226px;
	height: 120px;
	display: block;
	margin-bottom: 30px;
}
.size_body_second{
	width: 1226px;
	background-color: #F5F5F5;
}
.size_body_second_top{
	display: flex;
	list-style: none;
}
.size_body_second_top li:first-child{
	margin-left: 0;
}
.size_body_second_bottom li:first-child{
	margin-left: 0;
}
.size_body_second_top li{
	width: 234px;
	height: 300px;
	background:#FEFEFE ;
	margin-left:14px ;
}
.size_body_second a{
	text-decoration: none;
}
.size_body_second h3{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	width: 214px;
	height: 21px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.size_body_second_top_computer img{
	width: 150px;
	height: 150px;
	display: block;
	padding: 20px 40px;
}
.size_body_second_top_rice img{
	width: 234px;
	height: 300px;
}
.size_body_second_bottom{
	display: flex;
	list-style: none;
}
.size_body_second_bottom_robe img{
	width: 234px;
	height: 300px;
}

.home-nav{
	line-height: 50px;
}
.home-nav p{
	display: inline-block;
	font-size: 22px;
	font-weight: 200;
	
}
.home-nav_option{
	float: right;
}
.home-nav span{
	
	padding: 0px 0px 2px 30px;
	color:#424242;
	font-size: 16px;
}
.computer{
	color: #b0b0b0;
	font-size: 12px;
	font-weight: 200;
	height: 18px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.computer_price{
	text-align: center;
	padding: 30px 0px;
	color: #ff6700;
}
.size_body_second_bottom li{
	width: 234px;
	height: 300px;
	margin:24px 0px 20px 14px ;
	
}
.size_body_second_bottom_sound{
	background:#FEFEFE ;
}
.size_body_second_bottom_sound img{
	width: 150px;
	height: 150px;
	display: block;
	padding: 20px 40px;
}
.size_body_second_right_top{
	display: block;
	width: 234px;
	height: 143px;
	background:#FEFEFE ;
	margin-bottom: 15px;
}
.size_body_second_right_bottom {
	display: block;
	width: 234px;
	height: 143px;
	background:#FEFEFE ;
}
.center_block{
	float: left;
	padding: 40px 30px;
}
.size_body_second_right_top img{
	width: 80px;
	height: 80px;
	padding: 30px 0px;
}
.center_block_Attributes{
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
	color: #333;
	width: 94px;
}
.bar_price{
	color:#ff6700 ;
	font-size: 12px;
	padding-top:10px;
}
.more{
	float: left;
	padding: 40px 30px;
	color:#333 ;
}
.more_title{
	font-size: 18px;
}
.more_hot{
	font-size: 12px;
	padding-top:5px;
}
.size_body_second_right_bottom i{
	margin: 40px 0px;
	display: inline-block;
	font-size:48px ;
	line-height:48px ;
	color: #ff6700;
}
.size_body_second_img img{
	width: 1226px;
	height: 120px;
	margin: 30px 0px;
}
.size_body_third{
	width: 1226px;
	margin: 0px auto;
	background-color: #F5F5F5;
}
.size_body_third h3{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	width: 214px;
	height: 21px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.size_body_third a{
	text-decoration: none;
}
.computer_price_01{
	text-align: center;
	color: #ff6700;
}
.computer_01{
	color: #b0b0b0;
	font-size: 12px;
	font-weight: 200;
	height: 18px;
	text-align:center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 30px 0px;
}

.size_center_body_top_ul01_a{
	background: #FAFAFA;
	margin-left: 10px;
	width: 234px;
	height: 339px;
	border-top:1px solid #e53935;
}
.size_center_body_top_corner_01{
	float: right;
	font-size: 0px;
	margin-right: 10px;
	color: #e0e0e0;
}
.size_center_body_top_corner_01 i{
	border: 1px solid;
	width: 33px;
	height: 23px;
	display: inline-block;
	text-align:center;
	line-height: 25px;
}
.size_body_fourth{
	margin: 0 auto;
	width: 1226px;
	background: #F5F5F5;
	margin-top: 40px;
}

.size_body_fourth_ul{
	list-style: none;
	display:flex;
}
.head_tile{
	font-size: 22px;
	font-weight:200 ;
	color: #333;
	line-height: 58px;
}
.size_body_fourth img{
	width: 296px;
	height: 220px;
}
.size_body_fourth li{
	width: 296px;
	height: 415px;
	margin-left: 14px;
	background: #FFFFFF;
}
.size_body_fourth_ul li:first-child{
	margin-left: 0;
}
.content_tile{
	width: 240px;
	height: 72px;
	color: #333;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin: 30px 0px 0px 30px;
}
.comment_title{
	color: #b0b0b0;
	font-size: 12px;
	padding: 10px 0px 0px 30px;
}
.size_body_fourth_ul h3{
	font-size: 14px;
    font-weight: 400;
    color: #333;
    padding: 10px 0px 0px 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    max-width:170px;
    line-height: 14px;
}
.line{
	color: #e0e0e0;
	margin: 0.25em;
}
.product_price{
	color: #ff6700;
	white-space:nowrap;
}
.size_body_fifth{
	margin: 0 auto;
	width: 1226px;
	background: #F5F5F5;
	margin-top: 40px;
}
.content{
	font-size: 22px;
	font-weight: 200;
	color: #333;
	line-height: 58px;
}
.content_ul{
	display: flex;
	list-style: none;
}
.content_ul li{
	width: 296px;
	height: 420px;
	background: #FFFFFF;
	margin-left: 14px;
	border-top:1px solid #ffac13 ;
}
.content_ul li:first-child{
	margin-left:0px;
}
.book_type{
	font-size: 16px;
	font-weight: 400;
	color:#ffac13 ;
	margin:45px 10px 18px 0px ;
	text-align:center;
}
.content_ul h2{
	font-size: 20px;
	font-weight:400 ;
	color:#333 ;
	text-align:center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.25;
}
.book_name{
	font-size: 12px;
	line-height: 20px;
	color: #b0b0b0;
	text-align:center;
	height: 40px;
	overflow: hidden;
	margin: 10px 48px 10px 48px;
}
.content_ul span{
	display: block;
	font-size:14px ;
	color: #333;
	margin:10px 10px 15px 10px;
	text-align:center;
	height: 21px;
}
.content_ul img{
	width: 216px;
	height: 154px;
	margin: 0 auto;
	display: block;
}
.symbol{
	text-align:center;
	color: #B0B0B0;
}
.symbol i{
	font-size: 30px;
}
.size_body_sixth{
	margin: 0 auto;
	width: 1226px;
	background: #F5F5F5;
	margin-top: 40px;
	padding-bottom: 70px;
}
.video{
	line-height: 70px;
}
.video h3{
	font-size:22px ;
	font-weight: 200;
	line-height: 58px;
	color:#333 ;
	display: inline-block;
}
.video_right{
	float: right;
}
.video_img{
	list-style: none;
	display: flex;
}
.video_img li{
	width: 296px;
	height: 258px;
	margin-left: 14px;
	position: relative;
	background:#FFFFFF;
}
.video_img li:first-child{
	margin-left: 0px;
}
.video_img img{
	width: 296px;
	height: 180px;
}
.video_img a{
	text-decoration: none;
}
.player{
	position: absolute;
	top: 150px;
	left: 20px;
	z-index:1 ;
	width: 32px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 12px;

}
.video_img i{
		font-size: 20px;
		color: #FFFFFF;
		line-height: 20px;
		padding: 0px 7px;
}
.video_img p{
	text-align: center;
	font-size:14px ;
	font-weight: 400;
	margin: 20px 0px 10px 0px;
	color: #333;
}
.introduction{
	height: 18px;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	display: block;
	
}

.size_footer_top{
	margin: 0px auto;
	width: 1226px;
	border-bottom: 1px solid #e0e0e0;	
}
.repair{
	display: flex;
	list-style: none;
	padding-bottom: 30px;
}
.repair li:last-child{
	border-right: 0;
}
.repair li{
	width: 243px;
	height: 25px;
	border-right: 1px solid #e0e0e0;
}
.size_foote_center{
	text-align: center;
}
.size_foote_center i{
	font-size: 24px;
	color: #616161;
}
.reservation{
	font-size: 16px;
	color: #616161;
	line-height: 20px;
}
.size_footer_bottom{
	width: 1226px;
	height: 160px;
	margin: 00px auto;
	margin-top: 40px;
}
.size_footer_bottom ul{
	list-style: none;
	display: flex;
}
.size_footer_bottom li{
	width: 160px;
	height: 17px;
	margin-bottom: 10px;
}
.size_footer_bottom li{
	color: #757575;
	font-size: 12px;
}

.size_footer_bottom_ul01 li{
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 1.25;
	color: #424242;
}
.size_footer_bottom_left{
	border-right: 1px solid #e0e0e0;
	width: 975px;
}
.size_footer_bottom_left{
	float: left;
}
.size_footer_bottom_right{
	height: 112px;
	text-align: center;
}
.size_footer_bottom_right h2{
	color: #ff6700;
	font-size: 22px;
	line-height: 1;
	margin-bottom: 5px;
}
.data{
	font-size: 12px;
	color: #616161;
	margin-bottom: 16px;
}
.contact span{
	font-size: 12px;
}
.contact{
	color: #FF6700;
	width: 120px;
	height: 30px;
	display: inline-block;
	border: 1px solid #FF6700;
	line-height: 30px;
}

.size_footer_tail{
	width: 1226px;
	margin: 0px auto;
	background: #F5F5F5;
	padding-top:35px ;
}
.solgar{
	width: 57px;
	height: 57px;
	display: inline-block;
	float: left;
}
.size_footer_tail_type{
	list-style: none;
	display: flex;
	 padding-left: 5px;
}
.size_footer_tail_type li{
	font-size: 12px;
	line-height: 18px;
	color: #757575;
	border-left:1px solid #757575;
	margin-right: 0.5em;
	padding-left:5px ;
}
.size_footer_tail_type li:first-child{
	padding-left: 0px;
	border-left: 0px;
}
.size_footer_tail p{
	font-size: 12px;
	line-height: 18px;
    width: 689px;
    margin-left: 5px;
    display: inline-block;
}
.size_footer_tail a{
	text-decoration: none;
	color: #b0b0b0;	
}
.size_footer_tail_left{
	float: left;
}
.size_footer_tail_right{
	line-height: 28px;
	float: right;
}
.size_footer_tail_right_ul{
	list-style: none;
	display: flex;
}
.size_footer_tail_right_ul img{
	height: 28px;
}
.end-word{
	clear: both;
	text-align: center;
	height: 19px;
	font-size: 20px;
	color: #C0C0C0;
	padding: 40px 0px 30px 0px;
}
.phone{
	display: none;
    height: 460px;
    width: 992px;
    position: absolute;
    top: 0px;
    left: 235px;
    background: #FFFFFF;
    color: #333333;
    font-size: 14px;
}
.phone_ul_01{
	position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 25px;
}
.phone ul{
	list-style: none;
	width: 248px;
}
.phone li{
	width: 265px;
	height: 76px;
}
.phone_ul_02{
	position: absolute;
    top: 0px;
    left: 248px;
}
.phone_ul_03{
	position: absolute;
    top: 0px;
    left: 496px;
}
.phone_ul_04{
	position: absolute;
    top: 0px;
    left: 744px;
}
.phone img{
	width: 40px;
	height: 40px;
	float: left;
}
.phone span{
	display: inline-block;
	margin-left:30px ;
}
.prev{
	width: 41px;
	height: 69px;
	position: absolute;
	top:200px;
	left: 250px;
	line-height: 65px;
    text-align: center;
}
.prev i{
	display: block;
	font-size:45px ;
	color: #757575;
}
.next{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 100px;
    right: 10px;
    line-height: 65px;
    text-align: center;
}

.next i{
	display: block;
	font-size:45px ;
	color: #757575;
}
.ellipsis{
	position: absolute;
	top: 400px;
	right: 30px;
	font-size: 30px;
	width: 95px;
}
.ellipsis i{
	display: inline-block;
	width: 6px;
	height: 6px;
	font-size: 25px;
	color: #757575;
}
.lunbo{
	position: relative;
	top: 0px;
	left: 0px;
	list-style: none;
	width: auto;
	overflow: hidden;
	display: flex;
}
.active{
	background:rgba(255,255,255,0.4) ;
}
.prev:hover{
	cursor: pointer;
	background: #5D0E13;
}
.next:hover{
	cursor: pointer;
	background: #5D0E13;
}